[Desktop Entry]
Encoding=UTF-8
Name=LispWorks PE
GenericName=LispWorks Personal Edition
Comment=An IDE for Common Lisp
Exec=lispworks
Icon=lispworks.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Development;Application
StartupWMClass=LispWorks
